<ul>
<% for (const item of items) { %>
  <li><%= item.title %><% if (item['provide_slides']) { %> (<a href="_slides/<%- item.path.replace('.ipynb','.html') %>">Présentation {{< fa brands html5 >}}</a>)<% } %> <% if (item['provide_notes']) { %>(<a href="<%- item.path.replace('.ipynb','.html') %>">Cours {{< fa brands html5 >}}</a>)<% } %></li>
<% } %>
</ul>
